BasedOnStyle: LLVM
AlignEscapedNewlines: Left
BreakBeforeBraces: Stroustrup
ColumnLimit: 130
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
